
<!--
<div class="container">
  <div class="row">
  		<div ng-repeat="image in images" class="col-xs-4 col-md-4">
 	 		<img ng-src="data:image/jpeg;base64,{{image.picture}}" class="img-rounded img-responsive" alt="Responsive image">
  	</div>
  </div>
</div> -->

	<div class="container">
		<div class="col-md-3"><img class="thumbnail" ng-src="data:image/jpeg;base64,{{images[0].picture}}"></div>
		<div class="col-md-3"><img class="thumbnail" ng-src="data:image/jpeg;base64,{{images[1].picture}}"></div>
		<div class="col-md-3"><img class="thumbnail" ng-src="data:image/jpeg;base64,{{images[2].picture}}"></div>
		<div class="col-md-3"><img class="thumbnail" ng-src="data:image/jpeg;base64,{{images[3].picture}}"></div>
		<div class="col-md-3"> 
			<h2> Game 2 </h2>
			<p> This is the first game </p>
		</div>
		<div class="col-md-3"> 
			<h2> Game 2 </h2>
			<p> This is the second game </p>
		</div>
		<div class="col-md-3"> 
			<h2> Game 3 </h2>
			<p> This is the third game </p>
		</div>
		<div class="col-md-3"> 
			<h2> Game 4 </h2>
			<p> This is the fourth game </p>
		</div>
	</div>





