
<!--
<div class="container">
  <div class="row">
  		<div ng-repeat="image in images" class="col-xs-4 col-md-4">
 	 		<img ng-src="data:image/jpeg;base64,{{image.picture}}" class="img-rounded img-responsive" alt="Responsive image">
  	</div>
  </div>
</div> -->
<div class="container-fluid">
	<h1 class="col-md-3 col-md-offset-9 text-center"> New Games</h1>
	<div class="col-md-3 col-md-offset-9">
		<table class="table table-condensed">
		  <tbody>
		  	<tr>
		  	<td><img ng-src="data:image/jpeg;base64,{{images[0].picture}}"></td>
		  	</tr>
		  	<tr class="active">
		  	<td><img ng-src="data:image/jpeg;base64,{{images[1].picture}}"></td>
		  	</tr>
		  	<tr class="active">
		  	<td><img ng-src="data:image/jpeg;base64,{{images[2].picture}}"></td>
		  	</tr >
		  	<tr class="active">
		  	<td><img ng-src="data:image/jpeg;base64,{{images[3].picture}}"></td>
		  	</tr>
		  </tbody>
		</table>
	<div>
</div>

